<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.redis.dao.AboutCompanyMapper" >

    <select id="findById" parameterType="Integer" resultType="com.magic.redis.entity.AboutCompany">
            select * from about_company
                where id=#{id}

    </select>

    <select id="findTileAndCount" resultType="Map">
        select type,count(1)
            from about_company
            GROUP BY TYPE
             HAVING
             type in
             <foreach collection="list" item="type" separator="," open="(" close=")">
             ${type}
             </foreach>


    </select>


</mapper>